<div class="modal-content">
	<div class="modal-header">
	  <h5 class="modal-title" id="registerLabel">Cadastro de Usuário</h5>
	  <button type="button" class="close" ng-click="close()" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="modal-body">
	  	<form name="registerForm" novalidate>
	  		<div class="form-group">
				<label for="register-nome" class="col-form-label">Nome do usuário:</label>
				<input id="register-nome" class="form-control" title="Nome do usuário." type="text" ng-model="usuario.nome" name="nome" placeholder="Digite um nome de usuário." ng-required="true"/>

	      		<label for="register-login" class="col-form-label">Login do usuário:</label>
				<input id="register-login" class="form-control" title="Login contém entre 4 e 14 caracteres" type="text" ng-model="usuario.login" name="login" placeholder="Digite um nome de login para o usuário" ng-required="true" ng-minlength="6" ng-maxlength="14" required/>
			</div>
			<div class="form-group">
				<label for="register-pass" class="col-form-label">Senha do usuário:</label>
				<input autocomplete="off" id="register-pass" class="form-control" type="password" title="Senha contém entre 8 e 24 caracteres" ng-model="usuario.senha" name="password" placeholder="Digite uma senha a ser cadastrada" ng-required="true" ng-minlength="8" ng-maxlength="24" required/>

				<label for="register-confirm" class="col-form-label">Confirme a senha cadastrada:</label>
				<input autocomplete="off" id="register-confirm" class="form-control" type="password" name="confirmPassword" ng-model="confirmSenha" placeholder="Repita a senha cadastrada acima" ng-required="true" ng-minlength="8" ng-maxlength="24" required/>
				<small class="form-text text-muted">Não compartilhe sua senha com ninguém.</small>
				<small class="form-text text-muted">A senha é única e intransferível.</small>
				<br/>
				<label for="register-confirmed" class="col-form-label">E-mail:</label>
				<input autocomplete="off" id="register-confirmed" class="form-control" type="text" ng-model="usuario.email" placeholder="Digite um e-mail válido." ng-required="true"/>
			</div>
		</form>
		<br/>
		<p>Já possui login?</p>
		<a href="" ng-click="openModal('login')">Logar</a>
		<br/>
		<hr/>

		<div ng-show="registerForm.login.$dirty" ng-messages="registerForm.login.$error">
		    <div ng-message="required" class="alert alert-danger">
		        Por favor, preencha o campo username !
		    </div>
		</div>

		<div ng-show="hasUser()" class="alert alert-danger">
				Já existe um usuário com este login cadastrado no sistema.
		</div>

		<div ng-show="hasSuccess()" class="alert alert-info">
			Usuário cadastrado com sucesso.
		</div>
	</div>
	<div class="modal-footer">
	  <button class="btn btn-primary btn-block" ng-click="adicionarUsuario(usuario)" ng-disabled="registerForm.$invalid">Registrar</button>
	  <button type="button" class="btn btn-secondary btn-block" ng-click="close()">Fechar</button>
	</div>

</div>