<div class="jumbotron">

	<h3>Cadastro de Músicas</h3>
	<hr/>
	<form name="musicForm">

		<input class="form-control" name="nome" type="text" ng-model="musica.nome" placeholder="Nome da música" ng-required="true"/>

		<input class="form-control" name="duracao" type="text" ng-model="musica.duracao" placeholder="Duração da música" ng-required="true"/>

		<select class="form-control" ng-model="selectedAlbum" ng-options="album.nome + ', Ano: ' + album.ano for album in albuns | orderBy:'nome'" ng-init="" ng-required="true">
                <option value="">Selecione um álbum</option>
        </select>

		<select class="form-control" ng-model="selectedArtist" ng-options="artista.nome for artista in artistas | orderBy:'nome'" ng-required="true">
                <option value="">Selecione um artista</option>
        </select>
		

	</form>

	<div ng-show="hasMusic()" class="alert alert-danger">
    		Música já existente no álbum.
    </div>

    <div ng-show="hasSuccess()" class="alert alert-success">
    	Música adicionada ao álbum com sucesso.
    </div>

	<button class="btn btn-primary btn-block" ng-click="adicionarMusica(musica, selectedAlbum.idAlbum, selectedArtist.id)" ng-disabled="musicForm.$invalid">Adicionar música</button>

	<hr/>
	<a href="#!/addInfo" class="btn btn-info btn-block">Voltar</a>

</div>