<div class="jumbotron">
	

	<h3>Artista</h3>

	<div class="input-group">
		<input class ="form-control" type="text" ng-model="criterioDeBusca" placeholder="Digite o nome do artista que deseja procurar."/>
		<span class="input-group-addon">
		    <i class="fa fa-search"></i>
		</span>
	</div>


	<hr/>
	<table class="table table-striped table-inverse" ng-show="artistas.length > 0">

		
		<tr>

			<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
			<th>Favoritar</th>

		</tr>
	

	
		<tr ng-class="{'italic': artista.selecionado}" ng-repeat="artista in artistas | filter: {nome: criterioDeBusca} | limitTo: 5 | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">

			<td><a href="#!artistas/detalhes/{{artista.id}}">{{artista.nome}}</a></td>
			<td><input class="check_box" type="checkbox" ng-attr-id="{{'c' + artista.id}}" ng-model="artista.selecionado" ng-disabled="artista.statusCheck == false"/>
				<label class="check_box" ng-attr-for="{{'c' +artista.id}}">
	  				<img ng-src="{{getIcon(star, artista.selecionado)}}"/>
				</label>
			</td>


		</tr>

		

	</table>
	<br/>
	<div class="alert alert-success" ng-show="hasSucessFavoritos">
		Artista(s) adicionado(s) aos favoritos com sucesso.
	</div>

	<div ng-show="isArtistaSelecionado(artistas)">
		<button class="btn btn-success btn-block" ng-click="adicionaFavoritos(artistas)" ng-disable="">Adicionar aos Favoritos</button>
		<hr/>
	</div>

	<a href="#!/menu" class="btn btn-info btn-block"><i class="fa fa-undo" aria-hidden="true"></i>
 Voltar</a>

</div>
