<div class="jumbotron">
	

	<h3>Artista</h3>
	<input class ="form-control" type="text" ng-model="criterioDeBusca" placeholder="Digite o nome do artista que deseja procurar."/>
	<hr/>
	<table class="table table-striped" ng-show="artistas.length > 0">

		<tr>

			<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>

		</tr>

		<tr ng-repeat="artista in artistas | filter: {nome: criterioDeBusca} | limitTo: 5 | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">

			
			<td><a href="#!artistas/detalhes/{{artista.id}}">{{artista.nome}}</a></td>
			<!--td><img src="{{artista.imagem}}" width="100px" height="200px"></img></td-->


		</tr>

	</table>

	<a href="#!/menu" class="btn btn-info btn-block">Voltar</a>

</div>
