<div class="jumbotron">
	
	<h3><img src="img/logo.png"></img></h3>
	<h4>Sejam Bem vindos ao musiteca !</h4>
	<hr/>
	<a href="#!/artistas" class="btn btn-primary btn-block">Artistas</a>
	<a href="#!/artistasFavoritos" class="btn btn-primary btn-block">Artistas Favoritos</a>
	<a href="#!/playlist" class="btn btn-primary btn-block"><img src="img/playtest.png" height="16" width="16"></img> Playlists</a>




	<hr/>

	<a href="#!/addInfo" class="btn btn-info btn-block"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i> Adicionar informações</a>

</div>