<div class="jumbotron">


	<h3>Playlists</h3>
	<hr/>
	<table class="table table-striped" ng-show="playlists.length > 0">

		<tr>
			<th>Selecionar</th>
			<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
			<th>Criada em</th>

		</tr>

		<tr ng-repeat="playlist in playlists | filter: {nome: criterioDeBusca} | limitTo: 10 | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
				<td><input type="checkbox" ng-attr-id="{{'p' + playlist.idPlaylist}}" ng-model="playlist.selected"/>
					<label ng-attr-for="{{'p' +playlist.idPlaylist}}">
						<img ng-src="{{getIcon(check, playlist.selected)}}"/>
					</label></td>
				<td><a href="#!playlist/{{playlist.idPlaylist}}">{{playlist.nome}}</a></td>
				<td>{{playlist.data  | date:'mediumDate'}}</td>
				
		</tr>
	</table>

	<div class="alert alert-primary" ng-show="playlists.length == 0">
		Você ainda não possui nenhuma playlist.
	</div>


	<a href="#!/novaPlaylist" class="btn btn-secondary btn-block"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
 Nova Playlist</a>

 	<button class="btn btn-danger btn-block" ng-click="removePlaylist(playlists)" ng-show="isPlaylistSelecionado(playlists)"><i class="fa fa-trash-o" aria-hidden="true"></i> Remover Playlist(s)</button>


	<hr/>
	<a href="#!/menu" class="btn btn-info btn-block"><i class="fa fa-undo" aria-hidden="true"></i>
 Voltar</a>





</div>
